* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

section#gs {
    padding: 8% 0 8% 0;
}

span#cpy {
    width: 100%;
    font-size:  min(max(16px, 4vw), 22px);
}

.result {
    font-size: 25px;
    margin-top: 15%;
}

form.teut {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 25px;
}

html {
  scroll-behavior: smooth;
}

#gen{
    /* margin-left: -10%; */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bar {
    margin-bottom: 3%;
}

.test {
    margin-bottom: 7%;
    display: flex;
    flex-wrap: wrap;
}

.jumbotron {
    background: none;
}

:root {
  --primary-color: #5feff9;
  --body-color: #888;
  --text-color: #8ca4b4;
  --white-color: #ffffff;
  --text-color-dark: #444;
  --light-color: ;
  --font-family: Roboto;
  --black-color: black;
}

html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 5rem;
}

.header {
  position: fixed;
  top: 10.5%;
  z-index: 1;
  width: 100%;
  background-color: var(--primary-color);
}

body {
  line-height: 1.5;
  font-family: var(--font-family), sans-serif;
  -webkit-font-smoothing: antialiased;
  /* color: var(--text-color-dark); */
  font-size: 17px;
  margin: 0;
  padding: 0;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* background: url('images/bg.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.top {
  width: 75px;
  height: 75px;
  cursor: pointer;
  position: fixed;
  right: 3%;
  z-index: 10;
  bottom: 10%;
  background: radial-gradient(circle, rgba(70,79,82,1) 0%, rgba(255,255,255,1) 100%);
  border: none;
  border-radius: 50%;
  transition: 200ms;
}

.top svg {
  fill: white;
  width: 30px;
  height: 30px;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
}

.top:before {
  content: 'Back to Top';
  position: absolute;
  transform: translateX(-50%) translateY(45px);
  font-size: 15px;
  transition: 200ms;
  color: transparent;
  font-weight: bold;
}

.top:hover {
  box-shadow: 0 1px 5px rgba(0,0,0,0.2);
  width: 80px;
  height: 80px;
}

.top:hover::before {
  color: #fff;
}

.top:focus {
  outline: none;
}

body a {
  text-decoration: none;
  color: var(--white-color);
}

p {
  font-size: 1.7rem;
  margin-bottom: 5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black-color);
  font-family: var(--font-family), sans-serif;
  font-weight: 700;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: clamp(2.8rem, 1rem + 10vw, 8rem);
}

h2,
.h2 {
  font-size: 3rem;
  margin-bottom: 8%;
}

h3,
.h3 {
  font-size: 2rem;
}

h4,
.h4 {
  font-size: 1.7rem;
}

h5,
.h5 {
  font-size: 1.5rem;
}

h6,
.h6 {
  font-size: 1.4rem;
}

nav {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

header {
    background-color: black;
    height: 80px;
    padding-top: 1%;
    font-size: 1.1rem;
    font-weight: 600;
}

nav div{
  display: inline-flex;
}

ul li:first-child {
  padding: 0 15px 0 15px;
}

ul li:nth-child(2) {
  padding: 0 0 0 15px;
}

.box{
  min-height: 42rem;
  padding: 1.5rem 0 0 0;
}

section#pg {
  font-size: 25px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

section#sc {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
}    

.btn {
  height: 50px;
  margin-top: -8%;
  line-height: 50px;
  text-align: center;
  position: relative;
  color: var(--white-color);
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.text {
  padding: 0 50px;
  visibility: hidden;
}

.flip-front, 
.flip-back {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-style: flat;
    transform-style: flat;
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
}

.flip-front {
    color: var(--white-color);
    border: 2px solid var(--white-color);
    background-color: transparent;
    -webkit-transform: rotateX(0deg) translateZ(25px);
    -ms-transform: rotateX(0deg) translateZ(25px);
    -o-transform: rotateX(0deg) translateZ(25px);
    transform: rotateX(0deg) translateZ(25px);
}

.flip-back {
  color: #fff;
  background-color: #313131;
  border: 2px solid #313131;
  -webkit-transform: rotateX(90deg) translateZ(25px);
  -ms-transform: rotateX(90deg) translateZ(25px);
  -o-transform: rotateX(90deg) translateZ(25px);
  transform: rotateX(90deg) translateZ(25px);
}

.btn:hover .flip-front {
    -webkit-transform: rotateX(-90deg) translateZ(25px);
    -ms-transform: rotateX(-90deg) translateZ(25px);
    -o-transform: rotateX(-90deg) translateZ(25px);
    transform: rotateX(-90deg) translateZ(25px);
}

.btn:hover .flip-back {
    -webkit-transform: rotateX(0deg) translateZ(25px);
    -ms-transform: rotateX(0deg) translateZ(25px);
    -o-transform: rotateX(0deg) translateZ(25px);
    transform: rotateX(0deg) translateZ(25px);
}

#btn {
  height: 50px;
  min-width: 150px;
  border-radius: 10px;
  /* color: #eee; */
  position: relative;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

#btn #circle {
  width: 5px;
  height: 5px;
  background: transparent;
  position: absolute;
  top: 0;
  /* left: 50%; */
  overflow: hidden;
  transition: 500ms;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#btn:hover {
  background: transparent;
}

#btn:hover #circle {
  height: 50px;
  width: 150px;
  /* left: 9px; */
  border-bottom: 2px solid #eee;
}

.contain {
  min-height: 43rem;
  width: 100%;
  padding-top: 10rem;
 background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}

.bg {
  min-height: 43rem;
  width: 100%;
  padding-top: 8rem;
  background-image: url('Images/bg.jfif');
  background-size: cover;
}

.bg-text {
   background-color: rgba(0,0,0, 0.4); 
   color: white;
   font-weight: bold;
   border: 3px solid #f1f1f1;
   z-index: 2;
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   padding: 20px;
   text-align: center;
}

.bg-text h1 {
  color: var(--white-color);
}

.text-shadow {
  text-shadow: 2px 2px 5px rgb(56, 51, 51);
}

.response {
  font-size: 25px;
}

ul.tip {
  margin-top: 2%;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.tip li {
  list-style-type: none;
}

.pin {
  display: inline-flex;
  height: 5rem;
  max-width: 18rem;
  border-radius: 10px;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #aeaeae;
  margin-top: 9%;
}

.output {
  height: 5rem;
  max-width: 20rem;
  border-radius: 10px;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #aeaeae;
  color: #2a2d30;
}

.line {
  width: clamp(50px, 10px + 10vw, 150px);
  height: 5px;
  border-radius: 10px;
  background: #aeaeae;
  display: inline-block;
}

input#pglength {
  border-radius: 10px;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  margin-right: 5%;
  border: 5px solid #aeaeae;
}

input:focus,
textarea:focus,
select:focus, button:focus {
outline: none;
}
 
a,
a:focus {
  text-decoration: none;
  color: var(--text-color-dark);
}

.flip-back, .flip-front {
  outline: none;
}

button:active{
  outline: none;
}

.butto {
  border: none;
  padding: 0.8em 2.5em;
  outline: none;
  color: white;
  font-style: 1.2em;
  margin-top: 5%;
  position: relative;
  display: inline-flex;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  background: none;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
}

.butto1 {
  border: none;
  padding: 0.8em 2.5em;
  outline: none;
  color: white;
  font-style: 1.2em;
  margin-top: 9%;
  position: relative;
  display: inline-flex;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  background: none;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
}

.butto:before,
.butto:after, 
.butto1:before,
.butto1:after, .star:before, .star:after {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 105%;
  height: 105%;
  content: "";
  z-index: -2;
  background-size: 400% 400%;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgb(156, 155, 155) 0%, rgba(70,79,82,1) 100%);
}

.butto:before, .butto1:before, .star:before {
  -webkit-filter: blur(7px);
  filter: blur(7px);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-animation: pulse 10s infinite ease;
  animation: pulse 10s infinite ease;
}

.butto:after, .butto1:after, .star:after {
  -webkit-filter: blur(0.3px);
  filter: blur(0.3px);
}

.butto:hover:before, .butto1:hover:before, .star:hover:before {
  width: 115%;
  height: 115%;
}

.star {
  background: radial-gradient(circle, rgb(156, 155, 155) 0%, rgba(70,79,82,1) 100%);
  padding: 7px;
  animation: starbounce 4s infinite;
  border-radius: 6px;
  border: 0px;
  color: #ffffff;
  height: 50px;
  font-size: 1.4em;
  font-weight: 600;
  text-decoration: none;
  width: 7em;
  z-index: 2;
}

@keyframes starbounce {
  5%,
  50% {
    transform: scale(1);
  }

  10% {
    transform: scale(1);
  }

  15% {
    transform: scale(1);
  }

  20% {
    transform: scale(1) rotate(-5deg);
  }

  25% {
    transform: scale(1) rotate(5deg);
  }

  30% {
    transform: scale(1) rotate(-3deg);
  }

  35% {
    transform: scale(1) rotate(2deg);
  }

  40% {
    transform: scale(1) rotate(0);
  }
}

footer {
  margin-bottom: max(-6%, 5%);
  margin-bottom: min(-22%, 5%);
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .jumbotron {
  background-color: black;
  color: white;
  display: inline-flex;
  width: 100%;
  border-radius: 0px;
  align-content: center;
  justify-content: center;
}

.jumbotron.text-right a {
  text-decoration: none;
  color: #fff;
}

footer .jumbotron:nth-child(2) {
  background-color: black;
  color: white;
  display: flex;
  width: 100%;
  border-radius: 0px;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.social-links {
	display: flex;
	justify-content: center;
}

.social-bttn {
	cursor: pointer;
	height: 50px;
	width: 50px;
	font-family: 'Titillium Web', sans-serif;
	color: #333;
	border-radius: 10px;
	box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
	background: white;
	margin: 5px;
	transition: 1s;
}

.social-bttn span {
	width: 0px;
	overflow: hidden;
	transition: 1s;
	text-align: center;
}

.social-bttn:hover {
	width: 150px;
	border-radius: 5px;
}

.social-bttn:hover span {
	padding: 2px;
	width: max-content;
}

#Ace {
	color: var(--black-color);
}

#linkedin{
	color: #0e76a8;
}

#github {
	color: #333;
}